.banner__img {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.57)),
		url(../img/banner-image.png);
	background-size: cover;
	max-width: 100%;
	height: calc(100vh - 200px);
}

.banner__left {
	animation: fadeIn 3s;
	position: absolute;
	max-width: 700px;
	max-height: 200px;
	top: 62%;
	left: 2%;
}

.banner__title {
	font-size: 2rem;
	color: red;
}

.banner__subtitle {
	color: red;
	position: inherit;
	top: 12%;
	font-size: 1.5rem;
}

.banner__btn {
	font-size: 20px;
	font-weight: bold;
	padding: 1rem;
	border-radius: 10px;
	margin-top: 3rem;
	animation: fadeIn 6s;
	background-color: red;
	cursor: pointer;
}

.banner__btn:hover {
	transform: scale(1.05);
	transition: all 0.3s linear;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
