.footer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 2rem;
	background-color: black;
}

.my__name {
	font-size: large;
	font-weight: bold;
	color: red;
}

.icons {
	font-size: 2rem;
}

.icons a {
	color: red;
	text-decoration: none;
	padding: 2rem;
}

.icons a i:hover {
	transform: scale(1.2);
	transition: all 0.3s linear;
}
