.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.products__header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1rem;
	margin-top: 20px;
	color: red;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
}

.products__header__link {
	text-decoration: none;
	color: red;
}
